* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: burlywood;
}

.pemain {
    margin: 20px auto;
    width: 200px;
    color: white;
    font-size: 46px;
    border-radius: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.score {
    text-align: center;
    position: relative;
    color: white;
    width: 200px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 40px;
}

#playerScore {
    position: absolute;
    top: 95px;
    left: -165%;
    margin: 7px;
}

#computerScore {
    position: absolute;
    top: 95px;
    right: -165%;
    margin: 7px;
}

.user {
    background: lightblue;
    border-radius: 25%;
    color: white;
    font-size: 2px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#player {
    position: absolute;
    top: 10%;
    left: -200%;
    padding: 20px;
}

#computer {
    position: absolute;
    top: 10%;
    right: -220%;
    padding: 20px;
}

.result {
    font-size: 40px;
    color: white;
    border-bottom-style: solid;
    border-color: white;
    padding: 20px 20px;
}

.result>h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    background-color: rgba(255, 0, 0, 0.5);
}

.option {
    margin-top: 50px;
    text-align: center
}

.rps {
    border: 4px dotted white;
    border-radius: 50%;
    padding: 1px;
    margin: 0 8px;
    display: inline-block;
    transition: all 0.5s ease;
}

#rock.rps:hover {
    cursor: pointer;
    background: green;
}

#paper.rps:hover {
    cursor: pointer;
    background: red;
}

#scissor.rps:hover {
    cursor: pointer;
    background: aqua;
}